[submodule "packages/firmware/packages/firmware/atf"]
	path = packages/firmware/atf
	url = git@github.com:mdxy2010/nxp_lsdk_1909.git
[submodule "packages/firmware/u-boot"]
	path = packages/firmware/u-boot
	url = git@github.com:mdxy2010/nxp_lsdk_1909.git
