[submodule "packages/firmware/atf"]
	path = packages/firmware/atf
	url = http://source.codeaurora.org/external/qoriq/qoriq-components/atf.git
[submodule "packages/firmware/rcw"]
	path = packages/firmware/rcw
	url = https://source.codeaurora.org/external/qoriq/qoriq-components/rcw.git
[submodule "packages/firmware/u-boot"]
	path = packages/firmware/u-boot
	url = http://source.codeaurora.org/external/qoriq/qoriq-components/u-boot.git
[submodule "packages/firmware/ddr_phy_bin"]
	path = packages/firmware/ddr_phy_bin
	url = http://github.com/nxp/ddr-phy-binary.git
[submodule "packages/firmware/fm_ucode"]
	path = packages/firmware/fm_ucode
	url = http://github.com/nxp/qoriq-fm-ucode.git
[submodule "packages/firmware/mc_bin"]
	path = packages/firmware/mc_bin
	url = http://github.com/nxp/qoriq-mc-binary.git
[submodule "packages/firmware/mc_utils"]
	path = packages/firmware/mc_utils
	url = http://source.codeaurora.org/external/qoriq/qoriq-components/mc-utils.git
[submodule "packages/firmware/pfe_bin"]
	path = packages/firmware/pfe_bin
	url = http://github.com/nxp/qoriq-engine-pfe-bin.git
[submodule "packages/firmware/phy_cortina"]
	path = packages/firmware/phy_cortina
	url = http://github.com/nxp/qoriq-firmware-cortina.git
[submodule "packages/firmware/phy_inphi"]
	path = packages/firmware/phy_inphi
	url = http://github.com/nxp/qoriq-firmware-inphi.git
[submodule "packages/firmware/qe_ucode"]
	path = packages/firmware/qe_ucode
	url = http://github.com/nxp/qoriq-qe-ucode.git
[submodule "packages/firmware/uefi_bin"]
	path = packages/firmware/uefi_bin
	url = http://github.com/nxp/qoriq-uefi-binary.git
[submodule "packages/apps/cst"]
	path = packages/apps/cst
	url = http://source.codeaurora.org/external/qoriq/qoriq-components/cst
[submodule "packages/apps/dpdk"]
	path = packages/apps/dpdk
	url = http://source.codeaurora.org/external/qoriq/qoriq-components/dpdk
[submodule "packages/apps/aiopsl"]
	path = packages/apps/aiopsl
	url = https://source.codeaurora.org/external/qoriq/qoriq-components/aiopsl
[submodule "packages/apps/cjson"]
	path = packages/apps/cjson
	url = git://github.com/DaveGamble/cJSON.git
[submodule "packages/apps/ceetm"]
	path = packages/apps/ceetm
	url = http://source.codeaurora.org/external/qoriq/qoriq-components/ceetm
[submodule "packages/apps/crconf"]
	path = packages/apps/crconf
	url = git://github.com/Thermi/crconf.git
[submodule "packages/apps/dce"]
	path = packages/apps/dce
	url = http://source.codeaurora.org/external/qoriq/qoriq-components/dce
[submodule "packages/apps/eth_config"]
	path = packages/apps/eth_config
	url = http://source.codeaurora.org/external/qoriq/qoriq-components/eth-config.git
